.forgot-password{
    text-align: left;
    margin: 5px 0;
    width: 100%;
}
.dont-account{
    text-align: center;
    margin: 3px 0;
    width: 100%;
}

a{
    color: var(--mainColor);
}


.login-page{
    //image: url(../../../../../assets/img/main-banner-bg1.jpg);
    background: url(../../../../assets/img/login3.png);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay; 
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .vesax-login{
        background:rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(9px);

    }
}