<p-toast></p-toast>

<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between header_div">
        <h1 class="logo me-auto"><a routerLink="/home"><img src="assets/img/login1.png" alt=""></a></h1>
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo/logo.png"
            alt="" class="img-fluid"></a> -->
        <nav id="navbar" class="navbar d-block">
            <ul style="justify-content: right;">
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Products</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#loginRegisterModal">Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<div class="modal fade loginRegisterModal" id="loginRegisterModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class='bx bx-x'></i></button>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Agent</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="true">Admin</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <div class="vesax-login">
                        <form #login="ngForm" [formGroup]="loginForm" (ngSubmit)="loginFunction(login)">
                            <div class="form-group">
                                <label for=""><b>Email</b></label>
                                <input type="text" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"  [class.is-invalid]="(login.submitted && loginForm.get('loginName').invalid) || (loginForm.get('loginName').touched && loginForm.get('loginName').invalid)" formControlName="loginName" placeholder="Enter Email" class="form-control">
                                <div class="invalid-feedback" *ngIf="loginForm.controls.loginName?.errors?.required">
                                  Email is Required
                              </div>
                              <div class="invalid-feedback" *ngIf="loginForm.controls.loginName?.errors?.pattern">
                                  Enter Valid Email Address
                               </div>
                            </div>
                            <div class="form-group">
                                <label for=""><b>Password</b></label>
                                <input type="password"  [class.is-invalid]="(login.submitted && loginForm.get('password').invalid) || (loginForm.get('password').touched && loginForm.get('password').invalid)" formControlName="password" placeholder="Enter Password" class="form-control">
                                <div class="invalid-feedback">Please Enter Password</div>
                                <!-- <input type="password" [(ngModel)]="password" #userpsassword="ngModel" name="password" placeholder="Enter Password" class="form-control"> -->
                            </div>
                            <button type="submit" data-bs-dismiss="modal">Login Now</button> 
                        </form>
                        <!-- <span class="dont-account">Don't have an account? <a href="#">Register Now</a></span> -->
                    </div>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel">
                    <div class="vesax-register">
                        <!-- <span class="sub-title"><span>Or Register with</span></span> -->
                        <form #signin="ngForm" [formGroup]="userFormControl" (ngSubmit)="loginForAgent()">
                          <div class="form-group">
                            <label for="emailAddress">Email <span class="star_class">*</span></label>
                            <input class="form-control" type="email"
                                id="emailAddress" autocomplete="off" placeholder="Email"
                                formControlName="emailAddress"
                                [class.is-invalid]="signin.submitted &&
                                userFormControl.get('emailAddress')?.invalid || userFormControl.get('emailAddress')?.touched && userFormControl.get('emailAddress')?.invalid"
                                required />
                            <div class="invalid-feedback" *ngIf="userFormControl.controls.emailAddress?.errors?.required">
                                Email is Required
                            </div>
                            <div class="invalid-feedback" *ngIf="userFormControl.controls.emailAddress?.errors?.pattern">
                                Enter Valid Email Address
                             </div>
                        </div>
        
                        <div *ngIf="buttonvalue=='Submit OTP'"  class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="OTP">OTP<span
                                            class="star_class">*</span></label>
                                    <input class="form-control" type="number"
                                        id="OTP" autocomplete="off" placeholder="OTP"
                                        name="OTP" formControlName="OTP"
                                        [class.is-invalid]="signin.submitted &&
                                        userFormControl.get('OTP')?.invalid"
                                         >
                                    <div class="invalid-feedback">
                                        OTP is Required
                                    </div>
                                </div>
                            </div>
                            <!-- <div style="margin-top: 5px;" class="col-lg-6">
                                <label for=""></label>
                                <button    type="submit">Get OTP</button>
                            </div> -->
                        </div>
                        <button type="submit">{{buttonvalue}}</button>
                        </form>
                        <!-- <span class="already-account">Already have an account? <a href="#">Login Now</a></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner_carousel">
    <p-carousel [value]="banners" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
      <ng-template let-product pTemplate="item">
          <div class="product-item">
              <div class="product-item-content">
                  <div class="carousel_img_div">
                      <img src="{{product.image}}" class="product-image" />
                  </div>
              </div>
          </div>
      </ng-template>
  </p-carousel>
</div>

  <main id="main">
    <!-- Services Section -->
    <section class="services portfolio section-bg" id="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-title p-0">
          <h2>Types of Insurance</h2>
        </div>

        <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [circular]="false" [autoplayInterval]="3000">
            <ng-template let-product pTemplate="item">
                <div class="product-item insurance_carousel">
                    <div class="product-item-content">
                        <div class="carousel_img_div">
                            <img src="{{product.image}}" class="product-image" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>

      </div>
    </section>
    <!-- End Services Section -->

    <section class="specification" style="background-color: #081648">
      <div class="section-title2" style="color: #fff!important;">
        <h2 style="color: #fff!important;">Specifications</h2>
        <p class="sub-title"> </p>
      </div>
      <div class="container">
        <div class="row m-0">
            <div class="col-md-6 col-12">
                <div class="insurance_img">
                    <img src="./../../../../assets/img/insurace.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <!-- <h4>Insurance</h4> -->
                <p class="insurance_content">
                    Insurance is a contract in which an insurer indemnifies another against losses from specific contingencies or perils. It helps to protect the insured person or their family against financial loss. There are many types of insurance policies. Life, health, homeowners, and auto are the most common forms of insurance.
                </p>
            </div>
        </div>
      </div>
    </section>

    <section class="services portfolio section-bg" id="portfolio">
        <div class="container" data-aos="fade-up">
          <div class="section-title p-0">
            <h2>Partners</h2>
          </div>
  
          <p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [circular]="false" [autoplayInterval]="3000">
              <ng-template let-product pTemplate="item">
                  <div class="product-item insurance_carousel">
                      <div class="product-item-content">
                          <div class="carousel_img_div">
                              <img src="{{product.image}}" class="product-image" />
                          </div>
                      </div>
                  </div>
              </ng-template>
          </p-carousel>
  
        </div>
      </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-7 mb-5 mt-lg-0 d-block align-items-stretch" style="justify-content: center;">
            <div class="section-title">
              <h2>About Us</h2>
            </div>
            <div class="row content info m-0">
              <div class="col-12">
                <p style="padding-left: 0;">
                    Self insurance is a process by which a person or company assumes the risk of loss themselves by saving the money that would have otherwise been paid in the form of premiums in order to build up a fund to cover potential losses. Individuals that choose to self insure bare all the risk for a loss event rather than pooling the risk with other people who might also experience the type of loss that might present financial loss.
                </p>
                <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
              </div>
            </div>
          </div>

          <div class="col-lg-5 d-block align-items-stretch">
            <div class="section-title">
              <h2>Contact Us</h2>
            </div>
            <div class="info" style="display: inline-grid; align-items: center;">
              <div class="email">
                <i class="pi pi-envelope"></i>
                <h4>Email:</h4>
                <p>echonrealm@gmail.com</p>
              </div>

              <div class="phone">
                <i class="pi pi-phone"></i>
                <h4>Call:</h4>
                <p>+91 - 9351228933</p>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>