

<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="add-listings-box1">
        <!-- Start -->
        <!-- End -->


        <div class="vesax-register">
            <form [formGroup]="userRegisterFormControl"
                (ngSubmit)="registerUser(signup)" #signup="ngForm">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="name">Name <span class="star_class">*</span></label>
                            <input class="form-control" type="text"
                                id="name" autocomplete="off"
                                name="name" placeholder="name"
                                formControlName="name"
                                [class.is-invalid]="signup.submitted &&
                                userRegisterFormControl.get('name')?.invalid ||
                                userRegisterFormControl.get('name')?.invalid &&
                                userRegisterFormControl.get('name')?.touched "
                                required />
                            <div class="invalid-feedback">
                                Name is Required
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="emailAddress">Email <span
                                    class="star_class">*</span></label>
                            <input class="form-control" type="email"
                                id="emailAddress" autocomplete="off"
                                name="emailAddress" placeholder="Email"
                                (input)="validateEmail($event , 'signin')"
                                formControlName="emailAddress"
                                [class.is-invalid]="signup.submitted &&
                                userRegisterFormControl.get('emailAddress')?.invalid
                                ||
                                userRegisterFormControl.get('emailAddress')?.invalid
                                &&
                                userRegisterFormControl.get('emailAddress')?.touched"
                                required />
                            <!-- <h6 class="text-danger" *ngIf="invalidEmail">Invalid
                                Email</h6> -->
                            <div class="invalid-feedback"
                                *ngIf="userRegisterFormControl.get('emailAddress')?.invalid
                                &&
                                userRegisterFormControl.get('emailAddress')?.errors?.required">
                                Email Address is Required
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="userRegisterFormControl.get('emailAddress')?.invalid
                                &&
                                userRegisterFormControl.get('emailAddress')?.errors?.pattern">
                                Enter Valid Email Address
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="phone">Mobile Number <span
                                    class="star_class">*</span></label>
                            <input class="form-control" type="text"
                                id="phone" autocomplete="off" name="phone"
                                formControlName="mobile_no" (keydown)="validateNumber($event)"
                                [class.is-invalid]="signup.submitted &&
                                userRegisterFormControl.get('mobile_no')?.invalid
                                ||
                                userRegisterFormControl.get('mobile_no')?.invalid
                                &&
                                userRegisterFormControl.get('mobile_no')?.touched"
                                minlength="10"
                                maxlength="10" placeholder="Enter Registered Mobile Number" required>
                            <div class="invalid-feedback"
                                *ngIf="userRegisterFormControl.controls.mobile_no?.errors?.required">
                                Mobile Number is Required
                            </div>
                            <!-- <dis -->
                            <div class="invalid-feedback"
                                *ngIf="userRegisterFormControl.controls.mobile_no?.errors?.pattern">
                                Enter Valid Mobile Number
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="name">Address<span class="star_class">*</span></label>
                            <input class="form-control" type="text"
                                id="name" autocomplete="off"
                                name="address" placeholder="address"
                                formControlName="address"
                                [class.is-invalid]="signup.submitted && userRegisterFormControl.get('address')?.invalid || userRegisterFormControl.get('address')?.invalid && userRegisterFormControl.get('address')?.touched"
                                required />
                            <div class="invalid-feedback">
                                Address is Required
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class=" form-group">
                            <label for="password">Password <span class="star_class">*</span></label>
                            <input class="form-control" type="password" placeholder="Enter Password"
                                id="password" autocomplete="off"
                                formControlName="password" 
                                [class.is-invalid]="signup.submitted &&
                                userRegisterFormControl.get('password')?.invalid || userRegisterFormControl.get('password')?.invalid && userRegisterFormControl.get('password')?.touched"
                                required />
                            <div class="invalid-feedback" *ngIf="userRegisterFormControl.get('password').errors?.required">
                                Password is Required
                            </div>

                            <div class="invalid-feedback" *ngIf="userRegisterFormControl.get('password').errors?.pattern">
                                Must contain at least one number and one uppercase and lowercase letter,
                                and at least 8 or more characters.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class=" form-group">
                            <label for="confirm-password">Confirm Password <span class="star_class">*</span></label>
                            <input class="form-control" type="password"
                                id="confirmpassword" formControlName="confirmPassword" placeholder="Enter Confirm Password"
                                autocomplete="off" [class.is-invalid]="signup.submitted && userRegisterFormControl.get('confirmPassword')?.invalid || userRegisterFormControl.get('confirmPassword')?.invalid && userRegisterFormControl.get('confirmPassword')?.touched"
                                required/>
                                <div class="invalid-feedback" *ngIf="userRegisterFormControl.get('confirmPassword').errors?.required">
                                    Confirm Password is Required
                                </div>
                                <div class="error-msg" *ngIf="this.userRegisterFormControl.getError('mismatch') && signup.submitted || this.userRegisterFormControl.getError('mismatch') && userRegisterFormControl.get('confirmPassword')?.touched && !(userRegisterFormControl.get('confirmPassword').errors?.required)">Confirm Password not Matched </div>
                        </div>
                    </div>
                </div>
                <div class="add-listings-btn">
                    <div class="form-group">
                        <button type="submit" class="submit_btn">{{submitButton}}</button>
                        <button type="reset" class="reset_btn mx-2">Reset</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!-- 
    <div class="add-listings-box1">
        <p-table #dt2 [value]="userArray" dataKey="id"
            responsiveLayout="scroll" [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,20,30,50]"
            [paginator]="false" currentPageReportTemplate="Showing
            {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['name','country.name','status']">
            <ng-template pTemplate="header">
                <tr style="width: 100%;">
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer
                let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td><span>{{customer.userName}}</span></td>
                    <td>
                        <span class="image-text">{{customer.loginName}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{customer.mobileNo}}</span>
                    </td>
                    <td>
                        <span class="image-text">{{customer.address}}</span>
                    </td>
                    <td>
                        <button pButton pRipple type="button" icon="bx bx-pencil" class="p-button-rounded p-button-primary p-button-text"  (click)="EditItem(customer)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No item found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div> -->
    <!-- End -->
    <app-copyrights></app-copyrights>
</div>
