@import "../../../commonModule/dashboard/dashboard.component.scss";

.add-listings-box1 {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    border-radius: 5px;
    padding: 10px 25px 10px 25px;

    h3 {
        padding: 10px 25px 10px;
        border-bottom: 1px dashed #eeeeee;

        font: {
            size: 17px;
            weight: 600;
        }

        margin: {
            bottom: 25px;
            left: -25px;
            right: -25px;
        }

        ;
    }

    form {
        .form-group {
            margin: 10px 0;    
            .form-control {
                border: 1px solid #d5d5d5 !important;
                border-radius: 5px;
                background-color: #f9f9f9 !important;
                padding-top: 6px;
            }
        }

        input , select{
            height: 35px;
        }

        label{
            display: block;
            margin-bottom: 5px;
            color: var(--blackColor);
            position: relative;
            padding-left: 2px;
            font-weight: 500;
            font-size: 14px;
        }

        .radio-buttons{
            display: flex;
            justify-content: space-between;
            width: 100px;
            .radio-button{
                display: flex;
                align-items: center;
                margin: 5px 0 0;
                input{
                    margin-bottom: 0;
                }
            }
        }

    }

    .file-upload-box {
        margin-bottom: 30px;
    }

    .opening-day {
        margin-bottom: 25px;

        h5 {
            margin-bottom: 0;

            font: {
                size: var(--fontSize);
                weight: 600;
            }

            ;
        }

        select {
            display: block;
            height: 48px;
            line-height: 48px;
            border-radius: 5px;
            cursor: pointer;
            background: #f9f9f9;
            transition: var(--transition);
            border: 1px solid #e5e7f2;
            color: #7d93b2;
            width: 100%;
            padding-left: 15px;

            font: {
                weight: 400;
                size: var(--fontSize);
            }

            ;

            &:focus {
                border-color: var(--mainColor);
                background-color: transparent;
            }
        }
    }
}

.add-listings-btn {

    // margin-bottom: 30px;
    button {
        display: inline-block;
        padding: 8px 30px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        border-radius: 5px;
        margin-top: 25px;
        transition: var(--transition);
        border: none;
        font: {
            size: var(--fontSize);
            weight: 600;
        }

        ;

        &:hover {
            background-color: #3b99ca;
            color: var(--whiteColor);
        }
    }

    .reset_btn{
        background-color: var(--optionalColor);
        color: var(--whiteColor);
    }

    .submit_btn{
        background-color: var(--mainColor);
        color: var(--whiteColor);
    }
}

.alert{
    padding: 10px;
    margin-top: 5px;
}


.star_class{
    color: red;
}

/* Max width 767px */
// @media only screen and (max-width: 767px) {

//     .add-listings-box {
//         padding: 0 20px 0 20px;

//         h3 {
//             padding: 15px 20px;

//             margin: {
//                 bottom: 20px;
//                 left: -20px;
//                 right: -20px;
//             }

//             ;
//         }

//         .form-group {
//             .form-control {
//                 height: 35px;
//                 font-size: 13.5px;

//                 padding: {
//                     right: 10px;
//                     left: 10px;
//                 }

//                 ;
//             }

//             select {
//                 height: 35px;
//                 line-height: 45px;
//                 font-size: 13.5px;

//                 padding: {
//                     right: 10px;
//                     left: 10px;
//                 }
//             }
//         }
//     }

// }

/* Min width 576px to Max width 767px */
// @media (max-width: 767px) {
//     .add-listings-btn {
//         button {
//             margin-top: 0;
//         }
//     }

//     .form-group {
//         label {
//             margin-bottom: 3px!important;
//         }
//     }
// }

/* Min width 768px to Max width 991px */
@media (max-width: 768px){

    .add-listings-btn{
        button {
            margin-top: 0;
        }
    }
}


::ng-deep{
    p-inputnumber, .p-inputnumber{
        height: 33px!important;
        width: 100%;
    }

    .p-inputnumber-input{
        background-color: #f9f9f9 !important;
    }
}



.select-dropdown{
    // width: 70px;
    line-height : 22px; 
    display: flex; 
    align-items: center; 
    border-right: none!important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #f1f1f1!important
}



        