<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <p-dialog [(visible)]="displayPolicy" [draggable]="false" [header]="header"
        [style]="{width: '70vw'}" [modal]="true">
        <div class="add-listings-box1">
            <form [formGroup]="policyMaster"
                (ngSubmit)="policyMasterSubmit(policy)" #policy="ngForm">
                <!-- <div class="row"> -->
                <div class="section-heading">
                    <h5>Customer Details</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Registration Number<span
                                class="star_class">*</span></label>
                        <input type="text" class="form-control"
                            formControlName="registrationNumber"
                            placeholder="Enter registration Number"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('registrationNumber')?.invalid) ||
                            (policyMaster.get('registrationNumber').touched &&
                            policyMaster.get('registrationNumber')?.invalid)"
                            required>
                        <div class="invalid-feedback"> Registration Number is
                            Required </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Customer Name<span
                                class="star_class">*</span></label>
                        <input type="text" class="form-control"
                            formControlName="customerName" placeholder="Enter Customer Name" [class.is-invalid]="(policy.submitted
                            && policyMaster.get('customerName')?.invalid) ||
                            (policyMaster.get('customerName').touched &&
                            policyMaster.get('customerName')?.invalid)"
                            required>
                        <div class="invalid-feedback"> Customer Name is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Customer Father Name<span
                                class="star_class">*</span></label>
                        <input type="text" class="form-control"
                            formControlName="customerFName" placeholder="Enter Customer Father Name"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('customerFName')?.invalid) ||
                            (policyMaster.get('customerFName').touched &&
                            policyMaster.get('customerFName')?.invalid)"
                            required>
                        <div class="invalid-feedback"> Customer Father Name is
                            Required </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Mobile Number<span
                                class="star_class">*</span></label>
                        <input type="text" class="form-control" maxlength="10"
                            pKeyFilter="int" formControlName="mobileNumber"
                            placeholder="Enter mobile Number"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('mobileNumber')?.invalid) ||
                            (policyMaster.get('mobileNumber').touched &&
                            policyMaster.get('mobileNumber')?.invalid)"
                            required>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('mobileNumber').errors?.required">
                            Mobile Number is Required </div>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('mobileNumber').errors?.minlength">
                            Mobile Number is invalid </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Father Mobile Number<span
                                class="star_class">*</span></label>
                        <input type="text" class="form-control" maxlength="10"
                            pKeyFilter="int" formControlName="fMobileNumber"
                            placeholder="Enter mobile Number"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('fMobileNumber')?.invalid) ||
                            (policyMaster.get('fMobileNumber').touched &&
                            policyMaster.get('fMobileNumber')?.invalid)"
                            required>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('fMobileNumber').errors?.required">Father
                            Mobile Number is Required </div>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('fMobileNumber').errors?.minlength">Father
                            Mobile Number is invalid </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Country<span class="star_class">*</span></label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="countryId"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('countryId')?.invalid) ||
                            (policyMaster.get('countryId').touched &&
                            policyMaster.get('countryId')?.invalid)">
                            <option value="">Select Country</option>
                            <ng-container *ngFor="let vehicle of
                                country_dropdown">
                                <option [value]="vehicle.id">{{vehicle.value}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> Country is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">State<span class="star_class">*</span></label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="stateId"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('stateId')?.invalid) ||
                            (policyMaster.get('stateId').touched &&
                            policyMaster.get('stateId')?.invalid)">
                            <option value="">Select State</option>
                            <ng-container *ngFor="let vehicle of
                                state_dropdown">
                                <option [value]="vehicle.id">{{vehicle.value}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> State is Required </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Village<span class="star_class">*</span></label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="vallageId"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('vallageId')?.invalid) ||
                            (policyMaster.get('vallageId').touched &&
                            policyMaster.get('vallageId')?.invalid)">
                            <option value="">Select Village</option>
                            <ng-container *ngFor="let policy of
                                vallageDropdown">
                                <option [value]="policy.vallageId">{{policy.vallageName}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> Village is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="doc">Pincode<span class="star_class">*</span></label>
                        <input type="text" class="form-control"
                            formControlName="pinCode" pKeyFilter="int"
                            maxlength="6" placeholder="Enter pinCode"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('pinCode')?.invalid) ||
                            (policyMaster.get('pinCode').touched &&
                            policyMaster.get('pinCode')?.invalid)" required>
                        <div class="invalid-feedback"> pinCode is Required
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 form-group">
                        <label for="status">Address<span class="star_class">*</span></label>
                        <textarea name="" id="" class="form-control"
                            formControlName="address" placeholder="Enter Address" [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('address')?.invalid) ||
                            (policyMaster.get('address').touched &&
                            policyMaster.get('address')?.invalid)" cols="30"
                            rows="10" required></textarea>
                        <div class="invalid-feedback"> Address is Required
                        </div>
                    </div>
                </div>
                <div class="section-heading">
                    <h5>Policy Details</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Policy Number<span
                                class="star_class">*</span></label>
                        <input type="text" class="form-control"
                            formControlName="policyNumber" placeholder="Enter policy Number" [class.is-invalid]="(policy.submitted
                            && policyMaster.get('policyNumber')?.invalid) ||
                            (policyMaster.get('policyNumber').touched &&
                            policyMaster.get('policyNumber')?.invalid)"
                            required>
                        <div class="invalid-feedback"> Policy Number is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Policy Type<span class="star_class">*</span></label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="policyTypeId" required>
                            <option value="">Select Policy Type</option>
                            <ng-container *ngFor="let policy of policyDropdown">
                                <option [value]="policy.policyTypeId">{{policy.policyTypeName}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> Policy Type is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Policy Issue Date<span class="star_class">*</span></label>
                        <p-calendar formControlName="policyIssueDate"
                            placeholder="Select Policy Issue Date"
                            [readonlyInput]="true" dateFormat="dd/mm/yy"
                            [showIcon]="true" (onSelect)="showExpiryDate()"
                            [class.is-invalid]="policy.submitted &&
                            policyMaster.get('policyIssueDate')?.invalid ||
                            policyMaster.get('policyIssueDate')?.invalid &&
                            policyMaster.get('policyIssueDate')?.touched"
                            required></p-calendar>
                        <div class="invalid-feedback"> Policy Issue Date is
                            Required </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Policy Expiry Date<span
                                class="star_class">*</span></label>
                        <p-calendar formControlName="policyExpiryDate"
                            placeholder="Select Policy Expiry Date"
                            [readonlyInput]="true" [disabled]="true"
                            [showIcon]="true" dateFormat="dd/mm/yy"
                            [class.is-invalid]="policy.submitted &&
                            policyMaster.get('policyExpiryDate')?.invalid ||
                            policyMaster.get('policyExpiryDate')?.invalid &&
                            policyMaster.get('policyExpiryDate')?.touched"
                            required></p-calendar>
                        <div class="invalid-feedback"> Policy Expiry Date is
                            Required </div>
                    </div>
                    <!-- {{this.policyDocument['policyUpload']}} {{displayPolicyDoc}} -->
                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="this.policyDocument['policyUpload'] &&
                        displayPolicyDoc">
                        <label for="">Policy Document</label>
                        <label><a
                                [href]="this.policyDocument['policyUpload']"
                                target="_blank"
                                [download]="this.policyDocument['policyUpload']">Preview</a><span
                                (click)="showFile('policy')"
                                style="cursor:
                                pointer;">&nbsp; x</span></label>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="!displayPolicyDoc ||
                        this.policyDocument['policyUpload'] == ''">
                        <label for="">Policy Document</label>
                        <input class="form-control" type="file"
                            #policyDoc [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('policyUpload')?.invalid) ||
                            (policyMaster.get('policyUpload').touched &&
                            policyMaster.get('policyUpload')?.invalid)"
                            (change)="uploadedFile($event , 'policy')"
                            accept="image/jpeg,image/gif,image/png,application/pdf"
                            autocomplete="off" required />
                        <div class="invalid-feedback"> document is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="this.policyDocument['oldpolicyUpload'] &&
                        displayOldPolicyDoc">
                        <label for="">Old Policy Document</label>
                        <label><a
                                [href]="this.policyDocument['oldpolicyUpload']"
                                target="_blank"
                                [download]="this.policyDocument['oldpolicyUpload']">Preview</a><span
                                (click)="showFile('oldpolicy')"
                                style="cursor:
                                pointer;">&nbsp; x</span></label>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="!displayOldPolicyDoc ||
                        this.policyDocument['oldpolicyUpload'] == ''">
                        <label for="">Old Policy Document</label>
                        <input class="form-control" type="file"
                            #oldpolicyDoc [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('oldpolicyUpload')?.invalid) ||
                            (policyMaster.get('oldpolicyUpload').touched &&
                            policyMaster.get('oldpolicyUpload')?.invalid)"
                            (change)="uploadedFile($event , 'oldpolicy')"
                            accept="image/jpeg,image/gif,image/png,application/pdf"
                            autocomplete="off" required />
                        <div class="invalid-feedback"> document is Required
                        </div>
                    </div>
                </div>
                <div class="section-heading">
                    <h5>Insurance Details</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Insurance<span class="star_class">*</span></label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="insuranceTypeId"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('insuranceTypeId')?.invalid) ||
                            (policyMaster.get('insuranceTypeId').touched &&
                            policyMaster.get('insuranceTypeId')?.invalid)">
                            <option value="">Select Insurance</option>
                            <ng-container *ngFor="let insurance of
                                insuranceDropdown">
                                <option [value]="insurance.insuranceTypeId">{{insurance.insuranceTypeName}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> Insurance is Required
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Vehicle Type<span
                                class="star_class">*</span></label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="vechileTypeId"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('vechileTypeId')?.invalid) ||
                            (policyMaster.get('vechileTypeId').touched &&
                            policyMaster.get('vechileTypeId')?.invalid)">
                            <option value="">Select Vehicle</option>
                            <ng-container *ngFor="let vehicle of
                                vehicleTypeDropdown">
                                <option [value]="vehicle.vechileTypeId">{{vehicle.vechileTypeName}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> Vehicle is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Premium Amount<span
                                class="star_class">*</span></label>
                        <p-inputNumber formControlName="premiumAmount"
                            mode="currency" [minFractionDigits]="2"
                            currency="INR" locale="en-IN"
                            [maxFractionDigits]="2"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('premiumAmount')?.invalid) ||
                            (policyMaster.get('premiumAmount').touched &&
                            policyMaster.get('premiumAmount')?.invalid)"></p-inputNumber>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('premiumAmount').errors?.required">Premium
                            Amount is Required </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Net Premium Amount<span
                                class="star_class">*</span></label>
                        <p-inputNumber formControlName="netPremiumAmount"
                            mode="currency" [minFractionDigits]="2"
                            currency="INR" locale="en-IN"
                            [maxFractionDigits]="2"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('netPremiumAmount')?.invalid) ||
                            (policyMaster.get('netPremiumAmount').touched &&
                            policyMaster.get('netPremiumAmount')?.invalid)"></p-inputNumber>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('netPremiumAmount').errors?.required">Net
                            Premium Amount is Required </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Commission Percentage<span
                                class="star_class">*</span></label>
                        <p-inputNumber formControlName="commissionPer"
                            (onBlur)="getComissionAmount()" inputId="percent"
                            suffix="%" [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('commissionPer')?.invalid) ||
                            (policyMaster.get('commissionPer').touched &&
                            policyMaster.get('commissionPer')?.invalid)"
                            required></p-inputNumber>
                        <div class="invalid-feedback"> Commission is Required
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Commission Amount<span
                                class="star_class">*</span></label>
                        <input type="text" class="form-control" maxlength="10"
                            pKeyFilter="int" formControlName="commissionAmount"
                            placeholder="Enter mobile Number"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('commissionAmount')?.invalid) ||
                            (policyMaster.get('commissionAmount').touched &&
                            policyMaster.get('commissionAmount')?.invalid)"
                            required>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('commissionAmount').errors?.required">
                            Commision Amount is Required </div>
                        <div class="invalid-feedback"
                            *ngIf="policyMaster.get('commissionAmount').errors?.minlength">
                            Commision Amount is invalid </div>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Company<span class="star_class">*</span></label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="companyId"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('companyId')?.invalid) ||
                            (policyMaster.get('companyId').touched &&
                            policyMaster.get('companyId')?.invalid)">
                            <option value="">Select Company</option>
                            <ng-container *ngFor="let vehicle of
                                companyDropdown">
                                <option [value]="vehicle.companyId">{{vehicle.companyName}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> Company is Required
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Agent</label>
                        <select class="form-select form-control select-dropdown"
                            formControlName="agentId"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('agentId')?.invalid) ||
                            (policyMaster.get('agentId').touched &&
                            policyMaster.get('agentId')?.invalid)">
                            <option value="">Select Agent</option>
                            <ng-container *ngFor="let vehicle of agentDropdown">
                                <option [value]="vehicle.id">{{vehicle.value}}</option>
                            </ng-container>
                        </select>
                        <div class="invalid-feedback"> Agent is Required </div>
                    </div>

                    <div class="col-lg-4 col-md-12 form-group">
                        <label for="doc">Rc Number<span class="star_class">*</span></label>
                        <input type="text" class="form-control"
                            formControlName="rcNumber" pKeyFilter="int"
                            maxlength="6" placeholder="Enter RC Number"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('rcNumber')?.invalid) ||
                            (policyMaster.get('rcNumber').touched &&
                            policyMaster.get('rcNumber')?.invalid)" required>
                        <div class="invalid-feedback"> RC Number is Required
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="this.policyDocument['rcUpload'] &&
                        displayRcUploadDoc">
                        <label for="">RC Upload</label>
                        <label><a
                                [href]="this.policyDocument['rcUpload']"
                                target="_blank"
                                [download]="this.policyDocument['rcUpload']">Preview</a><span
                                (click)="showFile('rcUpload')"
                                style="cursor:
                                pointer;">&nbsp; x</span></label>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="!displayRcUploadDoc ||
                        this.policyDocument['rcUpload'] == ''">
                        <label for="">RC Upload</label>
                        <input class="form-control" type="file"
                            #rcUpload [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('rcUpload')?.invalid) ||
                            (policyMaster.get('rcUpload').touched &&
                            policyMaster.get('rcUpload')?.invalid)"
                            (change)="uploadedFile($event , 'rcUpload')"
                            accept="image/jpeg,image/gif,image/png,application/pdf"
                            autocomplete="off" required />
                        <div class="invalid-feedback"> document is Required</div>
                    </div>

                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="this.policyDocument['documentUpload'] &&
                        displayDoc">
                        <label for="">Document Upload</label>
                        <label><a
                                [href]="this.policyDocument['documentUpload']"
                                target="_blank"
                                [download]="this.policyDocument['documentUpload']">Preview</a><span
                                (click)="showFile('documentUpload')"
                                style="cursor:
                                pointer;">&nbsp; x</span></label>
                    </div>
                    <div class="col-lg-4 col-md-12 form-group"
                        *ngIf="!displayDoc ||
                        this.policyDocument['documentUpload'] == ''">
                        <label for="">Document Upload</label>
                        <input class="form-control" type="file"
                            #documentUpload [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('documentUpload')?.invalid) ||
                            (policyMaster.get('documentUpload').touched &&
                            policyMaster.get('documentUpload')?.invalid)"
                            (change)="uploadedFile($event , 'documentUpload')"
                            accept="image/jpeg,image/gif,image/png,application/pdf"
                            autocomplete="off" required />
                        <div class="invalid-feedback"> document is Required</div>
                    </div>
                    

                    <!-- <div class="col-lg-4 col-md-12 form-group">
                        <label for="status">Document Upload<span
                                class="star_class">*</span></label>
                        <input type="file" class="form-control"
                            (change)="uploadedFile($event , 'documentUpload')"
                            [class.is-invalid]="(policy.submitted &&
                            policyMaster.get('documentUpload')?.invalid) ||
                            (policyMaster.get('documentUpload').touched &&
                            policyMaster.get('documentUpload')?.invalid)"
                            required>
                        <div class="invalid-feedback"> document is Required
                        </div>
                    </div> -->
                </div>
                <div class="add-listings-btn col-lg-4 col-md-6 p-0">
                    <div class="form-group d-flex">
                        <button type="submit" class="submit_btn">{{submitButton}}</button>
                        <button type="reset" class="mx-3 reset_btn"
                            *ngIf="submitButton == 'Submit'"
                            (click)="submitButton='Submit'">Reset</button>
                    </div>
                </div>
                <!-- </div> -->
            </form>
        </div>
    </p-dialog>
    <!-- End -->

    <div class="card item-master">
        <p-table #dt2 [value]="policyMasterTable"
            dataKey="id" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,50]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to
            {last} of {totalRecords} entries"
            [globalFilterFields]="['registrationNumber','policyNumber', 'customerName','customerFName','policyTypeName','address','pinCode']">
            <ng-template pTemplate="caption">
                <div class="d-flex" style="justify-content: space-between;
                    align-items: center;">
                    <span class="p-input-icon-left d-flex align-items-center">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" style="height: 35px;"
                            (input)="dt2.filterGlobal($event.target.value,'contains')"
                            placeholder="Global Search" [(ngModel)]="filterval"
                            />
                        <div class="col-lg-12 col-md-12 mr-2  d-flex">
                            <p-calendar appendTo="body" [showIcon]="true" dateFormat="dd-mm-yy" placeholder="Date"
                                        [(ngModel)]="dateFilterVal"
                                    (onSelect)="searchFilter($event)">
                                </p-calendar>
                            <p-button type="button" [style]="{height: '2rem'}" class="ml-2" (click)="reset(dt2)" icon="bx bx-reset"></p-button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success ml-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                        </div>
                    </span>
                    <div class="add-listings-btn">
                        <button class="submit_btn mt-0" (click)="openModel()">+Add</button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 20px;">S.No.</th>
                    <th style="min-width: 180px;">Action</th>
                    <th style="min-width: 180px;">Registration Number</th>
                    <th style="min-width: 180px;">Policy Number</th>
                    <th style="min-width: 180px;">Customer Name</th>
                    <th style="min-width: 180px;">Policy Expiry Date</th>
                    <th style="min-width: 180px;">Policy Issue Date</th>
                    <th style="min-width: 180px;">Policy Document</th>
                    <!-- <th style="min-width: 180px;">Customer Father Name</th>
                    <th style="min-width: 180px;">Policy Type</th>
                    <th style="min-width: 180px;">Address</th>
                    <th style="min-width: 180px;">pincode</th>
                    <th style="min-width: 180px;">Village</th>
                    <th style="min-width: 180px;">Insurance Type</th>
                    <th style="min-width: 180px;">Vehicle Type</th>
                    <th style="min-width: 180px;">Mobile Number</th>
                    <th style="min-width: 180px;">Father Mobile Number</th>
                    <th style="min-width: 180px;">Premium Amount</th>
                    <th style="min-width: 180px;">Net Premium Amount</th>
                    <th style="min-width: 180px;">Commission Percentage</th>
                    <th style="min-width: 180px;">Commission Amount</th>
                    <th style="min-width: 180px;">Country</th>
                    <th style="min-width: 180px;">State</th>
                    <th style="min-width: 180px;">Company</th>
                    <th style="min-width: 180px;">RC Number</th>
                    <th style="min-width: 180px;">Old Policy Upload</th>
                    <th style="min-width: 180px;">RC Upload</th>
                    <th style="min-width: 180px;">Document Upload</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-agent let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td class="d-flex">
                        <button pButton pRipple type="button" icon="bx bx-pencil" class="p-button-rounded p-button-primary
                            p-button-text" (click)="EditItem(agent)"></button>
                        <button pButton pRipple type="button" icon="bx bx-trash"
                            class="p-button-rounded p-button-danger
                            p-button-text" (click)="confirm1(agent)"></button>
                    </td>
                    <td><span class="image-text">{{agent.registrationNumber}}</span></td>
                    <td><span class="image-text">{{agent.policyNumber}}</span></td>
                    <td><span class="image-text">{{agent.customerName}}</span></td>
                    <td><span class="image-text">{{agent.policyExpiryDate |
                            date}}</span></td>
                    <td><span class="image-text">{{agent.policyIssueDate |
                            date}}</span></td>
                    <td><span class="image-text"><a target="_blank"
                        href="{{agent.policyUpload}}"
                        download="{{agent.policyUpload}}"><i class="pi pi-cloud-download"></i></a></span></td>
                    <!-- <td><span class="image-text">{{agent.customerFName}}</span></td>
                    <td><span class="image-text">{{agent.policyTypeName}}</span></td>
                    <td><span class="image-text">{{agent.address}}</span></td>
                    <td><span class="image-text">{{agent.pinCode}}</span></td>
                    <td><span class="image-text">{{agent.vallageName}}</span></td>
                    <td><span class="image-text">{{agent.insuranceTypeName}}</span></td>
                    <td><span class="image-text">{{agent.vechileTypeName}}</span></td>
                    <td><span class="image-text">{{agent.mobileNumber}}</span></td>
                    <td><span class="image-text">{{agent.fMobileNumber}}</span></td>
                    <td><span class="image-text">{{agent.premiumAmount}}</span></td>
                    <td><span class="image-text">{{agent.netPremiumAmount}}</span></td>
                    <td><span class="image-text">{{agent.commissionPer}}</span></td>
                    <td><span class="image-text">{{agent.commissionAmount}}</span></td>
                    <td><span class="image-text">{{agent.countryName}}</span></td>
                    <td><span class="image-text">{{agent.stateName}}</span></td>
                    <td><span class="image-text">{{agent.companyName}}</span></td>
                    <td><span class="image-text">{{agent.rcNumber}}</span></td>
                    <td><span class="image-text"><a target="_blank"
                                href="{{agent.policyUpload}}"
                                download="{{agent.policyUpload}}"><i class="pi pi-cloud-download"></i></a></span></td>
                    <td><span class="image-text"><a target="_blank"
                                href="{{agent.oldPolicyUpload}}"
                                download="{{agent.oldPolicyUpload}}"><i class="pi pi-cloud-download"></i></a></span></td>
                    <td><span class="image-text"><a target="_blank"
                                href="{{agent.rcUpload}}"
                                download="{{agent.rcUpload}}"><i class="pi pi-cloud-download"></i></a></span></td>
                    <td><span class="image-text"><a target="_blank"
                                href="{{agent.documentUpload}}"
                                download="{{agent.documentUpload}}"><i class="pi pi-cloud-download"></i></a></span></td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No agents found.</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex-grow-1"></div>
    </div>
    <app-copyrights></app-copyrights>
</div>