<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="section-heading">
                <h6 style="margin-bottom: 0;">Next Month Expiry Policy</h6>
            </div>
            <p-table #dt3 [value]="nextMonthExpiryPolicy" dataKey="id"
            [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10,20,30,50]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to
            {last} of {totalRecords} entries"
            [globalFilterFields]="['customerName' , 'registrationNumber']">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 20px;">S.No.</th>
                    <th>Registration No.</th>
                    <th>Customer Name</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="row" style="justify-content: space-between;
                    align-items: center;">
                    <div class="col-lg-12">
                        <span class="p-input-icon-left d-flex align-items-center">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" style="height: 35px;"
                                (input)="dt3.filterGlobal($event.target.value,'contains')"
                                placeholder="Global Search" [(ngModel)]="filterval3"
                                />
                            <p-button type="button" style="margin-left: 5px;"
                                (click)="reset(dt3 , 'dt3')"
                                icon="bx bx-reset"></p-button>
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="body" let-agent let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td><span class="image-text">{{agent.registrationNumber}}</span></td>
                    <td><span class="image-text">{{agent.customerName}}</span></td>
                    <td class="d-flex">
                        <button pButton pRipple type="button" icon="bx bx-show"
                            class="p-button-rounded p-button-primary p-button-text"
                            (click)="getData(agent)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No agents found.</td>
                </tr>
            </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-lg-12 mt-3">
        <div class="section-heading">
            <h6 style="margin-bottom: 0;">Total Policies</h6>
        </div>
        <p-table #dt5 [value]="policyData" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,20,30,50]"
        [paginator]="true" currentPageReportTemplate="Showing {first} to
        {last} of {totalRecords} entries"
        [globalFilterFields]="['customerName','customerFName' , 'mobileNumber' ,
        'policyNumber' , 'policyTypeName', 'insuranceTypeName', 'companyName',
        'registrationNumber']">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 20px;">S.No.</th>
                <th>Registration No.</th>
                <th>Customer Name</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="row" style="align-items: center;">
                <div class="col-lg-4">
                    <p-calendar appendTo="body" class="ml-2"
                        dateFormat="dd-mm-yy" selectionMode="range"
                        placeholder="Bill Date" #calendar2  [showIcon]="true"
                        [(ngModel)]="dateFilterVal1"
                        (onSelect)="searchFilter($event , 'calendar2')">
                    </p-calendar>
                </div>
                <div class="col-lg-4">
                    <span class="p-input-icon-left d-flex align-items-center">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" style="height: 35px;"
                            (input)="dt5.filterGlobal($event.target.value,'contains')"
                            placeholder="Global Search" [(ngModel)]="filterval4"
                            />
                        <p-button type="button" style="margin-left: 5px;"
                            (click)="reset(dt5 , 'dt5')"
                            icon="bx bx-reset"></p-button>
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="body" let-agent let-i="rowIndex">
            <tr>
                <td>{{i+1}}</td>
                <td><span class="image-text">{{agent.registrationNumber}}</span></td>
                <td><span class="image-text">{{agent.customerName}}</span></td>
                <td class="d-flex">
                    <button pButton pRipple type="button" icon="bx bx-show"
                        class="p-button-rounded p-button-primary p-button-text"
                        (click)="getData(agent)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No agents found.</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
    <!-- End Breadcrumb Area -->
    <app-copyrights></app-copyrights>
</div>




<!-- Start -->
<p-dialog [(visible)]="displayPolicy" [draggable]="false" header="Policy
    Details"
    [style]="{width: '70vw'}" [modal]="true">
    <div class="add-listings-box1">
        <div class="section-heading">
            <h5>Customer Details</h5>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Registration Number<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.registrationNumber}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Customer Name<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.customerName}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Customer Father Name<span
                        class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.customerFName}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Mobile Number<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.mobileNumber}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Father Mobile Number<span
                        class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.fMobileNumber}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Country<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.registrationNumber}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">State<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.stateName}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Village<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.vallageName}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="doc">Pincode<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.pinCode}}</span>
            </div>
            <div class="col-lg-12 col-md-12 form-group">
                <label for="status">Address<span class="star_class">*</span></label>
                <textarea name="" id="" class="form-control"
                    [(ngModel)]="CustomerData.address" placeholder="Enter
                    Address"></textarea>
            </div>
        </div>
        <div class="section-heading">
            <h5>Policy Details</h5>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Policy Number<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.policyNumber}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Policy Type<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.policyTypeName}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Policy Issue Date<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.policyIssueDate |
                    date}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Policy Expiry Date<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData.policyExpiryDate |
                    date}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Policy Document<span class="star_class">*</span></label>
                <span class="form-control"><a
                        [href]="CustomerData?.policyUpload" target="_blank"
                        [download]="CustomerData?.policyUpload">Preview</a></span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Old Policy Document<span class="star_class">*</span></label>
                <span class="form-control"><a
                        [href]="CustomerData?.oldPolicyUpload" target="_blank"
                        [download]="CustomerData?.oldPolicyUpload">Preview</a></span>
            </div>
        </div>
        <div class="section-heading">
            <h5>Insurance Details</h5>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Insurance<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.insuranceTypeName}}</span>
            </div>

            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Vehicle Type<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.vechileTypeName}}</span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Premium Amount<span class="star_class">*</span></label>
                <p-inputNumber [(ngModel)]="CustomerData.premiumAmount"
                    mode="currency" [minFractionDigits]="2" currency="INR"
                    locale="en-IN" [maxFractionDigits]="2"></p-inputNumber>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Net Premium Amount<span class="star_class">*</span></label>
                <p-inputNumber [(ngModel)]="CustomerData.netPremiumAmount"
                    mode="currency" [minFractionDigits]="2" currency="INR"
                    locale="en-IN" [maxFractionDigits]="2"></p-inputNumber>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Commission Percentage<span
                        class="star_class">*</span></label>
                <p-inputNumber [(ngModel)]="CustomerData.commissionPer"
                    inputId="percent" suffix="%"></p-inputNumber>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Commission Amount<span class="star_class">*</span></label>
                <input type="text" class="form-control" maxlength="10"
                    pKeyFilter="int" [(ngModel)]="CustomerData.commissionAmount"
                    placeholder="Enter mobile Number">
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Company<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.companyName}}</span>
            </div>

            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Agent</label>
                <span class="form-control">{{CustomerData?.agentName}}</span>
            </div>

            <div class="col-lg-4 col-md-12 form-group">
                <label for="doc">Rc Number<span class="star_class">*</span></label>
                <span class="form-control">{{CustomerData?.rcNumber}}</span>
            </div>

            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">RC Upload<span class="star_class">*</span></label>
                <span class="form-control"><a [href]="CustomerData?.rcUpload"
                        target="_blank" [download]="CustomerData?.rcUpload">Preview</a></span>
            </div>
            <div class="col-lg-4 col-md-12 form-group">
                <label for="status">Document Upload<span class="star_class">*</span></label>
                <span class="form-control"><a
                        [href]="CustomerData?.documentUpload" target="_blank"
                        [download]="CustomerData?.documentUpload">Preview</a></span>
            </div>
        </div>
    </div>
</p-dialog>
<!-- End -->