<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="/dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="add-listings-box1">
    <!-- Start -->
        <!-- <prime-toast></prime-toast> -->
    <!-- End -->
        <form [formGroup]="vallageMaster" (ngSubmit)="vallageMasterSubmit(itemForm)" #itemForm="ngForm">
            <div class="row">
                    <div class="col-lg-3 col-md-12 form-group">
                        <label for="status">vallage Name<span class="star_class">*</span></label>
                        <input type="text" class="form-control" formControlName="vallageName" placeholder="Enter vallage Name" [class.is-invalid]="(itemForm.submitted && vallageMaster.get('vallageName')?.invalid) || (vallageMaster.get('vallageName').touched && vallageMaster.get('vallageName')?.invalid)" required>
                        <div class="invalid-feedback"> vallage Name is Required </div>
                    </div>
                      
                    <div class="add-listings-btn col-lg-4 col-md-6">
                        <div class="form-group">
                            <button type="submit" class="submit_btn">{{submitButton}}</button>
                            <button type="reset" class="mx-3 reset_btn"  (click)="submitButton='Submit'">Reset</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    <!-- End -->

    <div class="card item-master" *ngIf="vallageMasterTable.length > 0">
        <p-table #dt2 [value]="vallageMasterTable" [scrollable]="true" dataKey="id" [rows]="10" [scrollable]="true"  [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,30,50]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['Agent Name','Agent Type']">
            <ng-template pTemplate="header" >
                <tr>
                    <th style="min-width: 20px;">S.No.</th>
                    <th style="min-width: 180px;">Agent Name</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-agent let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td><span class="image-text">{{agent.vallageName}}</span></td>
                    <td class="d-flex">
                        <button pButton pRipple type="button" icon="bx bx-pencil" class="p-button-rounded p-button-primary p-button-text" (click)="EditItem(agent)"></button>
                        <button pButton pRipple type="button" icon="bx bx-trash" class="p-button-rounded p-button-danger p-button-text" (click)="confirm1(agent)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">No agents found.</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex-grow-1"></div>
    </div> 
    <app-copyrights></app-copyrights>
</div>
