@import "../../../components/commonModule/dashboard/dashboard.component.scss";


.add-listings-box-report {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    border-radius: 5px;
    padding: 0 25px 0 25px;
    h3 {
        padding: 10px 25px 10px;
        border-bottom: 1px dashed #eeeeee;
        font: {
            size: 17px;
            weight: 600;
        };
        margin: {
            bottom: 10px;
            left: -25px;
            right: -25px;
        };
    }
    .form-group {
        margin-bottom: 15px;
        position: relative;

        label {
            display: block;
            margin-bottom: 5px;
            color: var(--blackColor);
            position: relative;
            font-weight: 500;

            i {
                color: var(--mainColor);
                position: absolute;
                left: 0;
                top: .5px;
                font-size: 19px;

                &.bxl-facebook-square {
                    color: #3b5998;
                }
                &.bxl-twitter {
                    color: #1da1f2;
                }
                &.bxl-linkedin {
                    color: #0077b5;
                }
            }
            span {
                color: var(--optionalColor);
                font-weight: 400;
            }
        }
        .form-control {
            height: 35px;
            // background: #f9f9f9 !important;
            line-height: 1.2;
            transition: var(--transition);
            border-radius: 5px;
            border: 1px solid #e5e7f2 !important;
            color: var(--blackColor) !important;
            font: {
                weight: 400;
                size: var(--fontSize);
            };
            padding: {
                top: 0;
                bottom: 0;
                right: 15px;
                left: 15px;
            };
            &::placeholder {
                transition: var(--transition);
                color: #7d93b2;
            }
            &:focus {
                border-color: var(--mainColor);

                &::placeholder {
                    color: transparent;
                }
            }
        }
        select {
            height: 35px;
            line-height: 45px;
            font-size: 13.5px;

            padding: {
                right: 10px;
                left: 10px;
            }
        }
    }
}



.add-listings-btn {

    button {
        display: inline-block;
        padding: 8px 30px;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        border-radius: 5px;
        margin-top: 23px;
        transition: var(--transition);
        border: none;
        font: {
            size: var(--fontSize);
            weight: 600;
        }

        ;

        &:hover {
            background-color: #3b99ca;
            color: var(--whiteColor);
        }
    }

    .reset_btn{
        background-color: var(--optionalColor);
        color: var(--whiteColor);
    }

    .submit_btn{
        background-color: var(--mainColor);
        color: var(--whiteColor);
    }
}


/* Max width 767px */
@media only screen and (max-width: 767px) {
    
    .add-listings-box {
        padding: 0 20px 0 20px;

        h3 {
            padding: 15px 20px;
            margin: {
                bottom: 20px;
                left: -20px;
                right: -20px;
            };
        }
        .form-group {
            label {
                padding-left: 21px;

                i {
                    font-size: 16px;
                }
            }
            .form-control {
                height: 45px;
                font-size: 13.5px;
                padding: {
                    right: 10px;
                    left: 10px;
                };
            }
            textarea.form-control {
                padding-top: 10px;
            }
            // select {
            //     height: 45px;
            //     line-height: 45px;
            //     font-size: 13.5px;
            //     padding: {
            //         right: 10px;
            //         left: 10px;
            //     };
            // }
            .sidebar-widgets {
                .box {
                    padding: 15px 10px;
                }
            }
        }
    }

}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .add-listings-box {
        .opening-day {
            h5 {
                margin-bottom: 15px;
            }
        }
    }

}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}


::ng-deep{
    .p-calendar .p-inputtext{
        background: #f9f9f9;
    }
}