<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="stats-card-box">
            <!-- <div class="icon-box">
                <i class='bx bx-map-alt'></i>
            </div> -->
            <h4>10</h4>
            <span class="sub-title">Active Listings</span>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="stats-card-box">
            <!-- <div class="icon-box">
                <i class='bx bx-line-chart'></i>
            </div> -->
            <h4>854</h4>
            <span class="sub-title">Total Views</span>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="stats-card-box">
            <!-- <div class="icon-box">
                <i class='bx bx-star'></i>
            </div> -->
            <h4>99</h4>
            <span class="sub-title">Total Reviews</span>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="stats-card-box">
            <!-- <div class="icon-box">
                <i class='bx bx-heart'></i>
            </div> -->
            <h4>150</h4>
            <span class="sub-title">Bookmarked</span>
        </div>
    </div>
</div>